{% extends 'base.html.twig' %}

{% block title %}Festival La Paviotek | Je me connecte{% endblock %}

{% block body %}
<div class="container-fluid mt-5" style="padding-bottom:312px">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 card">
            
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Se déconnecter</a>
                        </div>
                    {% endif %}

                    <h1 class="mb-3 mt-3 text-center zxtitlerubrik">Connectez-vous !</h1>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-3" placeholder="Entrez votre email" autocomplete="email" required autofocus>
                    <input type="password" name="password" id="inputPassword" class="form-control mb-3" placeholder="Entrez votre mot de passe" autocomplete="current-password" required>
                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Se souvenir de moi
                        </label>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-7">
                            <button class="btn basket" type="submit">
                                Se connecter
                            </button>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-5 log">
                                    Pas inscrit?
                                </div>
                                <div class="col-md-7">
                                    <a class="btn basket2" href="{{path('app_register')}}">
                                        S'inscrire
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                   
                </form>
            
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>
{% endblock %}
