{% extends 'base.html.twig' %}

{% block title %}Festival La Paviotek - {{ posts.title }}{% endblock %}

{% block body %}
    
<div class="container-fluid mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-md-8">
                    <div class="row">
                        <div class="col-md-12 mt-5 yrubriktitle">
                             {{ posts.rubrikMed.name|capitalize }} -- {{ posts.title }}
                        </div>
                        <div class="col-md-12 mb-4 yabstract">
                             {{ posts.abstract|raw }}
                        </div>
                        <div class="col-md-12 mb-5">
                            {% if (posts.image1 is empty) %} 
                            {% else %}
                                <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image1)}}" alt="{{ posts.title }}">
                            {% endif %}
                        </div>
                    </div>
                    <p class="division mb-5">__________________________________________________________________________________________________________________________</p>
                </div>
            </div>
        </div>
</div>

<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        {% if (posts.image2 is empty) %} 
                        {% else %}
                            <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image2)}}" alt="{{ posts.title }}">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        {% if (posts.image3 is empty) %} 
                        {% else %}
                            <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image3)}}" alt="{{ posts.title }}">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        {% if (posts.image4 is empty) %} 
                        {% else %}
                            <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image4)}}" alt="{{ posts.title }}">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        {% if (posts.image5 is empty) %} 
                        {% else %}
                            <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image5)}}" alt="{{ posts.title }}">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        {% if (posts.image6 is empty) %} 
                        {% else %}
                            <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image6)}}" alt="{{ posts.title }}">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        {% if (posts.image7 is empty) %} 
                        {% else %}
                            <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image7)}}" alt="{{ posts.title }}">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        {% if (posts.image8 is empty) %} 
                        {% else %}
                            <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image8)}}" alt="{{ posts.title }}">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        {% if (posts.image9 is empty) %} 
                        {% else %}
                            <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image9)}}" alt="{{ posts.title }}">
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12">
                        {% if (posts.image10 is empty) %} 
                        {% else %}
                            <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image10)}}" alt="{{ posts.title }}">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-7 mt-3">
                    <div class="row">
                            <div class="col-md-12">
                                <p class="division mb-3">________________________________________________________________________________________________________</p>
                                <h3 class="comma text-center mb-4">Commentaires du média</h3>
                                <div class="row">
                                    {% if posts.comments|length < 1 %}
                                        <p class="commx">Il n'y a pas encore de commentaire concernant cet article</p>
                                    {% else %}
                                        <p class="commx">{{ posts.comments|length }} commentaire(s)</p>
                                    {% endif %}
                                </div>
                        <div class="row">
                            <button id="toggle-comment" class="offset-md-1 col-md-6 btn btn-sm btn-secondary viewcom mb-3">
                                <i class="fa-solid fa-plus"></i>&emsp;Afficher les commentaires
                            </button>
                            <div id="comments-container" style="display: none;">
                                {% for comments in comments %}
                                    <div class="card comment mb-2">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <img class="img-fluid imgk" src="{{ asset('divers/avatars/' ~ comments.user.avatar) }}" alt="avatar"/>
                                            </div>
                                            <div class="col-md-7 pt-2  userName">@{{ comments.user.username }}</div>
                                            <div class="col-md-4 text-end zxtime">{{ comments.createdAt|date('d/m/Y H:i') }}</div>
                                        </div>
                                        <div class="col-md-12 zxcomtent mt-4" style="padding-left:75px;">
                                            {{ comments.content|raw }}
                                        </div>
                                    </div>
                                <p class="division2 mb-2">____________________________________________________________________________________________________________</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row mb-5">
                            <p class="division mt-3">________________________________________________________________________________________________________</p>
                            {% if app.user %}
                                <button id="toggle-comment-form" class="offset-md-1 col-md-6 btn btn-sm viewcom mb-3">
                                    <i class="fa-solid fa-pen-to-square"></i>&emsp;Ajouter un commentaire
                                </button>
                                <div id="comment-form-container" style="display: none;">
                                    {{ form_start(comment_form) }}
                                    {{ form_widget(comment_form.content) }}
                                    {{ form_errors(comment_form.content) }}
                                    {{ form_widget(comment_form.save) }}
                                    {{ form_end(comment_form) }}
                                </div>
                            {% else %}
                                <p><a href="{{ path('app_login') }}">Connectez-vous</a> pour laisser un commentaire.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12 mt-4 mb-5">
                        <a href="https://open.spotify.com/playlist/0rrsefyncw3LqiMTO9YdPo?si=0627700e173a41af" target="_blank"><img class="img-fluid spoty" src="\divers\images\spotify.png" alt="playlist spotify"></a>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</div>

{% endblock %}