{% extends 'base.html.twig' %}

{% block title %}Festival La Paviotek - {{ posts.title }}{% endblock %}

{% block body %}
    
    <div class="container-fluid mt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="offset-md-2 col-md-8">
                    <div class="row">
                        <div class="col-md-12 mt-5 yrubriktitle">
                             {{ posts.rubrik.name|capitalize }} -- {{ posts.title }}
                        </div>
                        <div class="col-md-12 mb-4 yabstract">
                             {{ posts.abstract|raw }}
                        </div>
                        <div class="col-md-12 mt-3 mb-1 ydate">
                            Mis en ligne le : {{ posts.createdAt|date('d/m/Y') }}
                        </div>
                        <div class="col-md-12 mb-3 yuser">
                            <img class="roundedImage" src="{{asset('divers/avatars/' ~ posts.user.avatar)}}" alt="avatar">
                            &emsp;{{posts.user.firstname|capitalize}} {{posts.user.lastname|upper}} - {{posts.user.city|capitalize}}
                        </div>
                        <div class="col-md-12 mb-5">
                            {% if (posts.image1 is empty) %} 
                            {% else %}
                                <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image1)}}" alt="{{ posts.title }}">
                            {% endif %}
                        </div>
                    </div>
                    <p class="division mb-5">__________________________________________________________________________________________________________________________</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-7">
                    <div class="offset-md-2 col-md-8 ycontent">
                        {{ posts.content1 }}
                    </div>
                    <div class="offset-md-1 col-md-10 ysub">
                    {% if (posts.subtitle1 is empty) %} 
                    {% else %}
                        {{ posts.subtitle1 }}
                    {% endif %}
                    </div>
                    <div class="offset-md-2 col-md-8 ycontent">
                    {% if (posts.content2 is empty) %} 
                    {% else %}
                        {{ posts.content2 }}
                    {% endif %}
                    </div>
                    <div class="offset-md-1 col-md-10 mb-5">
                        {% if (posts.image2 is empty) %} 
                        {% else %}
                            <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image2)}}" alt="{{ posts.title }}">
                        {% endif %}
                    </div>
                    <div class="offset-md-1 col-md-10 ysub">
                    {% if (posts.subtitle2 is empty) %} 
                    {% else %}
                        {{ posts.subtitle2 }}
                    {% endif %}
                    </div>

                    <div class="offset-md-2 col-md-8 ycontent">
                    {% if (posts.content3 is empty) %} 
                    {% else %}
                        {{ posts.content3 }}
                    {% endif %}
                    </div>
                    <div class="offset-md-1 col-md-10 mb-5">
                        {% if (posts.image3 is empty) %} 
                        {% else %}
                            <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image3)}}" alt="{{ posts.title }}">
                        {% endif %}
                    </div>
                    <div class="offset-md-1 col-md-10 ysub">
                    {% if (posts.subtitle3 is empty) %} 
                    {% else %}
                        {{ posts.subtitle3 }}
                    {% endif %}
                    </div>

                    <div class="offset-md-2 col-md-8 ycontent">
                    {% if (posts.content4 is empty) %} 
                    {% else %}
                        {{ posts.content4 }}
                    {% endif %}
                    </div>
                    <div class="offset-md-1 col-md-10 mb-5">
                        {% if (posts.image4 is empty) %} 
                        {% else %}
                            <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image4)}}" alt="{{ posts.title }}">
                        {% endif %}
                    </div>
                    <div class="offset-md-1 col-md-10 ysub">
                    {% if (posts.subtitle4 is empty) %} 
                    {% else %}
                        {{ posts.subtitle4 }}
                    {% endif %}
                    </div>

                    <div class="offset-md-2 col-md-8 ycontent">
                    {% if (posts.content5 is empty) %} 
                    {% else %}
                        {{ posts.content5 }}
                    {% endif %}
                    </div>
                    <div class="offset-md-1 col-md-10 mb-5">
                        {% if (posts.image5 is empty) %} 
                        {% else %}
                            <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image5)}}" alt="{{ posts.title }}">
                        {% endif %}
                    </div>
                    <div class="offset-md-1 col-md-10 ysub">
                    {% if (posts.subtitle5 is empty) %} 
                    {% else %}
                        {{ posts.subtitle5 }}
                    {% endif %}
                    </div>

                    <div class="offset-md-2 col-md-8 ycontent">
                    {% if (posts.content6 is empty) %} 
                    {% else %}
                        {{ posts.content6 }}
                    {% endif %}
                    </div>
                    <div class="offset-md-1 col-md-10 mb-5">
                        {% if (posts.image6 is empty) %} 
                        {% else %}
                            <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image6)}}" alt="{{ posts.title }}">
                        {% endif %}
                    </div>
                    <div class="offset-md-1 col-md-10 ysub">
                    {% if (posts.subtitle6 is empty) %} 
                    {% else %}
                        {{ posts.subtitle6 }}
                    {% endif %}
                    </div>

                    <div class="offset-md-2 col-md-8 ycontent">
                    {% if (posts.content7 is empty) %} 
                    {% else %}
                        {{ posts.content7 }}
                    {% endif %}
                    </div>
                    <div class="offset-md-1 col-md-10 mb-5">
                        {% if (posts.image7 is empty) %} 
                        {% else %}
                            <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image7)}}" alt="{{ posts.title }}">
                        {% endif %}
                    </div>
                    <div class="offset-md-1 col-md-10 ysub">
                    {% if (posts.subtitle7 is empty) %} 
                    {% else %}
                        {{ posts.subtitle7 }}
                    {% endif %}
                    </div>

                    <div class="offset-md-2 col-md-8 ycontent">
                    {% if (posts.content8 is empty) %} 
                    {% else %}
                        {{ posts.content8 }}
                    {% endif %}
                    </div>
                    <div class="offset-md-1 col-md-10 mb-5">
                        {% if (posts.image8 is empty) %} 
                        {% else %}
                            <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image8)}}" alt="{{ posts.title }}">
                        {% endif %}
                    </div>
                    <div class="offset-md-1 col-md-10 ysub">
                    {% if (posts.subtitle8 is empty) %} 
                    {% else %}
                        {{ posts.subtitle8 }}
                    {% endif %}
                    </div>

                    <div class="offset-md-2 col-md-8 ycontent">
                    {% if (posts.content9 is empty) %} 
                    {% else %}
                        {{ posts.content9 }}
                    {% endif %}
                    </div>
                    <div class="offset-md-1 col-md-10 mb-5">
                        {% if (posts.image9 is empty) %} 
                        {% else %}
                            <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image9)}}" alt="{{ posts.title }}">
                        {% endif %}
                    </div>
                    <div class="offset-md-1 col-md-10 ysub">
                    {% if (posts.subtitle9 is empty) %} 
                    {% else %}
                        {{ posts.subtitle9 }}
                    {% endif %}
                    </div>

                    <div class="offset-md-2 col-md-8 ycontent">
                        {% if (posts.content10 is empty) %} 
                        {% else %}
                            {{ posts.content10 }}
                        {% endif %}
                        </div>
                        <div class="offset-md-1 col-md-10 mb-5">
                            {% if (posts.image10 is empty) %} 
                            {% else %}
                                <img class="img-fluid d-block mx-auto yimg" src="{{asset('divers/images/' ~ posts.image10)}}" alt="{{ posts.title }}">
                            {% endif %}
                        </div>
                        <div class="offset-md-1 col-md-10 ysub">
                        {% if (posts.subtitle10 is empty) %} 
                        {% else %}
                            {{ posts.subtitle10 }}
                        {% endif %}
                        </div>
                    </div>
                    <div class="offset-md-1 col-md-4 mt-3">
                        <div class="row">
                            <div class="col-md-12 mb-5">
                                <a href="https://open.spotify.com/playlist/0rrsefyncw3LqiMTO9YdPo?si=0627700e173a41af" target="_blank"><img class="img-fluid spoty" src="\divers\images\spotify.png" alt="playlist spotify"></a>
                            </div>
                            <div class="col-md-12">
                                <p class="division mb-3">______________________________________________________________</p>
                                <h3 class="comma text-center mb-4">Commentaires de l'articles</h3>
                                <div class="row">
                                    {% if posts.comments|length < 1 %}
                                        <p class="commx">Il n'y a pas encore de commentaire concernant cet article</p>
                                    {% else %}
                                        <p class="commx">{{ posts.comments|length }} commentaire(s)</p>
                                    {% endif %}
                                </div>
                        <div class="row">
                            <button id="toggle-comment" class="offset-md-1 col-md-6 btn btn-sm btn-secondary viewcom mb-3">
                                <i class="fa-solid fa-plus"></i>&emsp;Afficher les commentaires
                            </button>
                            <div id="comments-container" style="display: none;">
                                {% for comments in comments %}
                                    <div class="card comment mb-2">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <img class="img-fluid imgkx" src="{{ asset('divers/avatars/' ~ comments.user.avatar) }}" alt="avatar"/>
                                            </div>
                                            <div class="col-md-6 pt-2 userName">@{{ comments.user.username }}</div>
                                            <div class="col-md-4 text-end zxtime">{{ comments.createdAt|date('d/m/Y H:i') }}</div>
                                        </div>
                                        <div class="col-md-12 zxcomtent" style="padding-left:75px;">
                                            {{ comments.content }}
                                        </div>
                                    </div>
                                <p class="division2 mb-2">______________________________________________________________</p>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="row mb-5">
                            <p class="division mt-3">______________________________________________________________</p>
                            {% if app.user %}
                                <button id="toggle-comment-form" class="offset-md-1 col-md-6 btn btn-sm viewcom mb-3">
                                    <i class="fa-solid fa-pen-to-square"></i>&emsp;Ajouter un commentaire
                                </button>
                                <div id="comment-form-container" style="display: none;">
                                    {{ form_start(comment_form) }}
                                    {{ form_widget(comment_form.content) }}
                                    {{ form_errors(comment_form.content) }}
                                    {{ form_widget(comment_form.save) }}
                                    {{ form_end(comment_form) }}
                                </div>
                            {% else %}
                                <p><a href="{{ path('app_login') }}">Connectez-vous</a> pour laisser un commentaire.</p>
                            {% endif %}
                        </div>
                    </div>           
                </div> 
            </div>
        </div>
    </div>
</div>
            

<script>
// Commentaires
    document.getElementById('toggle-comment-form').addEventListener('click', function() {
        var formContainer = document.getElementById('comment-form-container');
        formContainer.style.display = formContainer.style.display === 'none' || formContainer.style.display === '' ? 'block' : 'none';
    });

    document.getElementById('toggle-comment').addEventListener('click', function() {
        var commentsContainer = document.getElementById('comments-container');
        commentsContainer.style.display = commentsContainer.style.display === 'none' || commentsContainer.style.display === '' ? 'block' : 'none';
    });
</script>

{% endblock %}