<!-- header.html.twig -->
<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e0cb70;">
    <div class="container-fluid">
        <!-- Icône hamburger -->
        <button class="navbar-toggler" type="button" onclick="openNav()" aria-controls="sideNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Logo au centre -->
        <div class="mx-auto">
            <a class="navbar-brand" href="{{ path('app_post') }}">
                <img src="\divers\images\logo.png" alt="Logo" style="height: 70px;">
            </a>
        </div>

        <!-- Bouton de connexion à droite -->
        <div class="d-flex">
            {% if app.user %}
                <div class="col-md-12 perso">
                    {% if app.user.avatar is empty %}
                        <i class="fa-solid fa-circle-user"></i>
                    {% elseif app.user.opption is same as ('yes') %}
                    <a class="profil" href="{{ path('user_profile', {'id': app.user.id}) }}">
                        <img class="roundedAvatar" src="{{ asset('divers/avatars/' ~ app.user.avatar) }}" alt="">&nbsp;&nbsp;
                        <span class="zxuser">{{ app.user.firstname|capitalize }} {{ app.user.lastname|upper }}</span>&emsp;
                    </a>
                        {# coller le power of #}
                        <a class="loggouts" href="{{ path('app_logout') }}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </a>&emsp;
                        {# lien vers dashborad #}
                        <a class="zxadmin" href="{{ path('admin') }}">
                            <i class="fa-solid fa-circle-play"></i>&emsp;
                        </a>
                    {% else %}
                    <a class="profil" href="{{ path('user_profile', {'id': app.user.id}) }}">
                        <img class="roundedAvatar" src="{{ asset('divers/avatars/' ~ app.user.avatar) }}" alt="">&nbsp;&nbsp;
                        <span class="zxuser">{{ app.user.firstname|capitalize }} {{ app.user.lastname|upper }}</span>&emsp;
                    </a>
                        {# coller le power of #}
                        <a class="loggouts" href="{{ path('app_logout') }}">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                        </a>
                    {% endif %}
                </div>
            {% else %}
                <a class="btn btn-outline-primary ms-auto login" href="{{ path('app_login') }}">Connexion</a>
            {% endif %}             
        </div>
    </div>
</nav>

<!-- Side Nav -->
<div id="sideNav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a> <!--La croix pour fermer-->
    <a class="link" href="{{path('rubrik', {id: 1})}}">Le festival</a>
    <a class="link" href="{{path('rubrik', {id: 3})}}">Actu des artistes</a>
    <a class="link" href="{{path('rubrikMed', {id: 1})}}">Souvenirs</a>
    <a class="link" href="{{path('rubrik', {id: 2})}}">Infos pratiques</a>
    <a class="link" href="{{ path('programmation') }}">Programmation</a>
    <a class="link" href="{{ path('wip') }}">Billetterie</a>
    <a class="link" href="{{ path('wip') }}">Boutique</a>
    <a class="link" href="{{ path('contact') }}">Contact</a>
</div>

<!-- Carrousel -->
<div id="festivalCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="\divers\images\carousel1.jpg" class="d-block w-100" alt="Image 1">
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-center h-100">
                <h2 class="txthead">Festival La Paviotek</h2>
                <h2 class="txthead"><mark>Du 9 au 11 mai 2025</mark></h2>
            </div>
        </div>
        <div class="carousel-item">
            <img src="\divers\images\carousel2.jpg" class="d-block w-100" alt="Image 1">
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-center h-100">
                <h2 class="txthead">Le début du festival dans</h2>
                <mark><h2 class="txthead" id="countdown"></h2></mark>
            </div>
        </div>
        <div class="carousel-item">
            <img src="\divers\images\carousel3.jpg" class="d-block w-100" alt="Image 2">
            <div class="carousel-caption d-flex flex-column justify-content-center align-items-center h-100">
                <h2 class="txthead">Festival La Paviotek</h2>
                <h2 class="txthead"><mark>Du 9 au 11 mai 2025</mark></h2>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#festivalCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#festivalCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


