{% extends 'base.html.twig' %}

{% block title %}Festival La Paviotek | Accueil{% endblock %}

{% block body %}

    <div class="container-fluid mt-5">
        <div class="container">
        <h1 class="intro"><mark>Festival La Paviotek</mark>, un festival convivial organisé par DJ Chatxn D'Amour, du <mark>9 au 11 mai 2025</mark> !</h1>
            <div class="row azy">
                {% for posts in posts %}
                    <div class="col-md-7 mt-2">
                        {# Dernier article publié #}
                        <div class="col-md-12 mb-3">
                            <h2 class="zxtitlerubrik">{{ posts.rubrik.name|capitalize }} :</h2>
                        </div>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="row">
                                    <a href="{{path('show', {'slug':posts.slug, id: posts.id})}}" class="col-md-12 mt-1 mb-1 zxtitleone">
                                        {{ posts.title|raw }}
                                    </a>
                                    <a href="{{path('show', {'slug':posts.slug, id: posts.id})}}" class="col-md-12 mb-3 zxabstract">
                                        {{ posts.abstract|slice(0,255)|raw}}{% if posts.abstract|length > 255 %}...{% endif %}
                                    </a>
                                    <div class="col-md-12 zxdate">
                                        Mis en ligne le : {{ posts.createdAt|date('d/m/Y') }}
                                    </div>
                                    <div class="col-md-12 mb-1 zxauthor">
                                        {{posts.user.firstname|capitalize}} {{posts.user.lastname|upper}} - {{posts.user.city|capitalize}}&emsp;
                                        <img class="roundedImage" src="{{asset('divers/avatars/' ~ posts.user.avatar)}}" alt="avatar">
                                    </div>
                                </div>
                            </div>
                            <a href="{{path('show', {'slug':posts.slug, id: posts.id})}}" class="col-md-7 zximg">
                                <img class="img-fluid" src="{{asset('divers/images/' ~ posts.image1)}}" alt="Une image">
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <div class="col-md-5 mt-5">
                <br>
                    {% for posts2 in posts2 %}
                    {# Articles à la une, publiés récemment #}
                        <div class="row">
                            <a href="{{path('show', {'slug':posts2.slug, id: posts2.id})}}" class="col-md-3 mb-2 mt-1 yximg">
                                <img class="img-fluid" src="{{asset('divers/images/' ~ posts2.image1)}}" alt="L'image là">
                            </a>
                            <div class="col-md-9 mb-2">
                                <div class="row">
                                    <a href="{{path('show', {'slug':posts2.slug, id: posts2.id})}}" class="col-md-12 zxtitle">
                                        {{ posts2.title|raw }}
                                    </a>
                                    <div class="col-md-12 yxauthor">
                                        <img class="roundedImage" src="{{asset('divers/avatars/' ~ posts2.user.avatar)}}" alt="avatar">
                                        &emsp;{{posts2.user.firstname|capitalize}} {{posts2.user.lastname|upper}} - {{posts2.user.city|capitalize}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    {# Partie concernant la programmation du festival #}
    <div class="container-fluid mb-5 azy">
        <div class="container">
            <div class="row">
                <h2 class="zxtitlerubrik mb-5">Notre programmation</h2>
                {% for randomProg in randomProg %}
                    <div class="col-md-3 prog">
                        <div class="artist-card">
                            <a href="{{ path('programmation') }}" class="prog-img">
                                <img src="{{ asset('divers/images/' ~ randomProg.avatar) }}" alt="{{ randomProg.artist }}" class="img-fluid prog-img mb-3" data-bs-toggle="tooltip" title="Voir toute la programmation">
                            </a>
                        </div>
                    </div>
            {% endfor %}
            </div> 
            <div class="row">
                <div class="col text-center mt-5">
                    <a href="{{ path('wip') }}" class="btn btn-block billet">Acheter mon billet</a>
                </div>
            </div>
        </div>
    </div>

    {# Partie concernant la boutique en ligne #}
    <div class="container-fluid mb-5 azy">
        <div class="container">
            <div class="row">
                <h2 class="zxtitlerubrik mb-5">Notre boutique en ligne</h2>
                <a href="{{ path('wip') }}" class="offset-md-1 col-md-3 merch" class="prog-img">
                    <img class="img-fluid prog-img mb-3" data-bs-toggle="tooltip" title="Voir la boutique" src="\divers\images\merch1.jpg" alt="Avant t-shirt La Paviotek">
                </a>
                <a href="{{ path('wip') }}" class="offset-md-1 col-md-3" class="prog-img">
                    <img class="img-fluid prog-img mb-3" data-bs-toggle="tooltip" title="Voir la boutique" src="\divers\images\merch2.jpg" alt="Casquette La Paviotek">
                </a>
                <a href="{{ path('wip') }}" class="offset-md-1 col-md-3" class="prog-img">
                    <img class="img-fluid prog-img mb-3" data-bs-toggle="tooltip" title="Voir la boutique" src="\divers\images\merch3.jpg" alt="Arrière t-shirt La Paviotek">
                </a>
            </div> 
            <div class="row">
                <div class="col text-center mt-5">
                    <a href="{{ path('wip') }}" class="btn btn-block billet">Accéder à la boutique en ligne</a>
                </div>
            </div>
        </div>
    </div>

    {# Partie concernant les bénévoles #}
    <div class="container-fluid mb-5 azy">
        <div class="container">
            <div class="row">
                <h2 class="zxtitlerubrik mb-5">La Paviotek recherche des benevoles</h2>
                <div class="offset-md-1 col-md-10">
                    <p>Chèr.e.s futures <strong>bénévoles</strong>, vous avez envie de mettre à contribution votre bonne humeur, votre dynamisme et vos compétences au service du <strong>festival La Paviotek</strong> ?</p>
                    <p>La Paviotek est une grande histoire de bénévoles. Tout au long de l’année, les membres des 27 commissions de l’association donnent de leur temps pour penser et construire le festival. Pendant l’événement, pas moins de <strong>2 000 bénévoles</strong> se réunissent pour mettre sur pieds La Paviotek et <strong>accueillir les festivaliers, partenaires, artistes, journalistes…</strong></p>
                    <p>Nous vous invitons à completer le <a href="#" style="font-weight: bold;">formulaire</a> ci-dessous afin de réaliser votre <strong>pré-inscription</strong> en tant que <strong>bénévole</strong>.</p>
                </div>
                <div class="offset-md-2 col-md-8 mt-3">
                    <img class="img-fluid benev" src="\divers\images\benev1.JPG" alt="Nos bénévoles de l'édition 2024">
                </div>
            </div>
            <div class="row">
                <div class="col text-center mt-5">
                    <a href="{{ path('help') }}" class="btn btn-block billet">Devenir bénévole</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
