{% extends 'base.html.twig' %}

{% block title %}Festival La Paviotek - {{rubrikMed.name}}{% endblock %}

{% block body %}
    
    <div class="container-fluid mt-5 mb-5">
        <div class="container">
            <div class="row">
                <h2 class="azrubrik mb-5">{{rubrikMed.name}}</h2>
                {% for post in postsMed %}
                <a href="{{path('showMed', {'id': post.id}) }}" class="col-md-3 mt-3 ximg">
                    <img class="img-fluid" src="{{asset('divers/images/' ~ post.image1)}}" alt="Une image">
                </a>
                <div class="col-md-9 mt-4">
                    <div class="row">
                        <a href="{{path('showMed', {'id': post.id}) }}" class="col-md-12 aztitle">
                            {{ post.title }}
                        </a>
                        <a href="{{path('showMed', {'id': post.id}) }}" class="col-md-12 mb-3 azabstract">
                            {{ post.abstract }}
                        </a>
                    </div>
                </div>
                <p class="division mb-5">_____________________________________________________________________________________________________________________________________________________________________________________________________</p>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}